<a href="https://colab.research.google.com/github/Hsishlulu/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
i=0
result=0
while i<=50:
  if i %2!=0:
    result+=i
  i+=1
print("0-50的基數和結果是%d"%result)

0-50的基數和結果是625

In [3]:
i=0
result=0
while i<=50:
  if i %2==0:
    result+=i
  i+=1
print("0-50的基數和結果是%d"%result)

0-50的基數和結果是650

In [5]:
n=int(input("請輸入正整數:"))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*",end="")
  print()

請輸入正整數:10
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
sum=0
for i in range(1,101):
    if i%3==0 or i%7 ==0:
        sum += i
print("數值1~100中，所有是3或是7倍數的數之總和=" +str(sum))

In [7]:
p=1
counter=0
n=int(input("請輸入正整數:"))
print(n,"的因數有",end=" ")
while(p<=n):
  if(n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1

print()
if(counter==2):
  print(n,"是質數")
else:
  print(n,"不是質數")

請輸入正整數:3
3 的因數有 1 3
3 是質數

In [9]:
list1=[1,2,3,4,5]

In [11]:
list1

[1, 2, 3, 4, 5]

In [12]:
list2=["香蕉","蘋果","橘子"]

In [13]:
list2

['香蕉', '蘋果', '橘子']

In [16]:
list3=[1,"香蕉",True]

In [17]:
list3

[1, '香蕉', True]

In [18]:
print(list1)

[1, 2, 3, 4, 5]

In [23]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [24]:
list4=["香蕉","蘋果","橘子"]

In [26]:
print(list4[1])

蘋果

In [27]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [28]:
print(list4[3])

IndexError: ignored

In [29]:
print(list4[-1])

橘子

In [30]:
print(list4[-3])

香蕉

In [31]:
print(list4[-4])

IndexError: ignored

In [43]:
list5=[["tom","1234"]],["marry","abcd"],['david',"5678"]

In [44]:
print(list5[1])

['marry', 'abcd']

In [45]:
print(list5[0])

[['tom', '1234']]

In [46]:
print(list5[1][1])

abcd

In [47]:
print(list5[0][0])

['tom', '1234']

In [49]:
score=[85,79,93]
print("國文成績:%d分"%score[0])
print("國文成績:%d分"%score[1])
print("國文成績:%d分"%score[2])

國文成績:85分
國文成績:79分
國文成績:93分

In [52]:
list6=[1,2,3,4,5]

In [53]:
print(list6[0])

1

In [54]:
(list6[0])=9

In [55]:
print(list6[0])

9

In [56]:
print(list6)

[9, 2, 3, 4, 5]

In [57]:
list7=["香蕉","蘋果","橘子"]

In [58]:
for s in list7:
  print(s,end=",")

香蕉,蘋果,橘子,

In [64]:
items=[123,"apple",True]
for item in items:
  print(item)

123
apple
True

In [ ]:
score=[85,79,93]

In [65]:
print(len(score))

3

In [66]:
score=[85,79,93]
for i in range(len(score)):
  print(score[i])

85
79
93

In [83]:
scores = ["國文成績:85分","數學成績:79分","英文成績:93分"]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [89]:
num=[1,2,3]
name=[Tom,Mary,Tony]
for i in range(len(num)):
  print(num[i])
  for j in range(len(name)):
    print(name[j])
    
print("編號:"num[i],"姓名:"name[j])

SyntaxError: ignored

In [1]:
name = ["編號:1 姓名:Tom","編號:2 姓名:Mary","編號:3 姓名:Tony"]
for i in range(len(name)):
  print(name[i])

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony